.history{
    padding-top: 132px;
    font-family: $font-OpenSans;
    .js-slider__wrap{
        width: 506px;
        height: 407px;
        border: 1px solid #333;
        position: relative;
        margin: 10px auto;
        .js-slider{
            width: 100%;
            height: 407px;
            position: relative;
            overflow: hidden;
            
            img{
                position: absolute;
                opacity: 1;
                transition: all ease 1s
            }
            .opacity0{
                opacity: 0;
            }
        }
        .js-btn{
            display: flex;
            justify-content: center;
            .js-btn-left, .js-btn-right, .js-btn-play {
                width:80px;
                height:80px;
                color: $color-secondary;
                font-size:40px;
                display: inline-block;
                text-align: center;
                
                margin: 10px;
                i{
                    border-radius: 50%;
                    box-shadow: 1.5px 2.598px 5px 0px rgb( 0, 0, 0 );
                }
                i:hover{
                    box-shadow: inset 1px 2px 3px 0px rgb( 0, 0, 0 );
                }
                .i_shadow{
                    box-shadow: inset 1px 2px 3px 0px rgb( 0, 0, 0 );
                }
            }
        }
        
        
    }

    
    h2{
        font-weight: 600;
        font-size: 36px;
        line-height: 1;
        margin-bottom: 28px;
        margin-top: 8px;
        padding-left: 18px;
        letter-spacing: 0.04em;
        color: $color-suptitle;
        position: relative;
        &::before{
            position: absolute;
            top: 2px;
            left: -16px;
            content: '';
            width: 6px;
            height: 37px;
            background-color: $color-secondary;
            display: block;
        }
    }
    p{
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 28px;
        margin-top: 43px;
        margin-left: -15px;
        margin-right: -15px;
        letter-spacing: -0.04em;
        color: $color-textParagraf; 
    }

}

@media screen and (max-width: $container-width-medium){
    .history{
        margin-top: 0px;
        padding-top: 50px;
        img{
            text-align: center;
        }
        h2{
            margin-top: 30px;
            &::before{
                left: 0px;  
            }

        }
        p{
            margin-left: 15px;
            margin-right: 15px;
        }
        .js-slider__wrap{
            
            height: auto;
            border: none;
        }
    }


}
@media screen and (max-width: $small){
    .history{
        margin-top: 0px;
        padding-top: 50px;


        .js-slider__wrap{
            width: 100%;
           
            .js-slider{
                width: 100%;
                height: 330px;
            }
            .js-btn{
                
                .js-btn-left, .js-btn-right, .js-btn-play {
                    width:60px;
                    height:60px;
                }
            }
        }
        img{
            text-align: center;
        }
        h2{
            margin-top: 10px;
          

        }
        p{
            margin-left: 15px;
            margin-right: 15px;
        }
        
    }
}
  