/* GRID */
$container-width: 1200px;
$gutter: 30px;
$num-cols: 12;

// MEDIA
$xlarge: 1170px;
$large: 992px;
$medium: 768px;
$small: 568px;

/* GRID */
$container-width-xlarge: 1140px;
$container-width-large: 960px;
$container-width-medium: 720px;
$container-width-small: 540px;
$gutter: 30px;
$num-cols: 12;

// COLORS
$color-title: #f4f5f9;
$color-secondary:#e74c3c;
$color-text:#cbc6c0;
$color-suptitle:#6a6a6a;
$color-textParagraf:#999999; 
$color-white: #FFF;
$color-back: #000;

// TYPOGRAPHY
$font-OpenSans: 'Open Sans', sans-serif;
$font-Lato:  'Lato', sans-serif;

